<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet">
     <!--<script src="../script/javascipt-vanilla.js"></script> -->
    
    <title>Najlepsza Liga</title>
</head>
<body >
  <nav class=" w-full bg-sky-900 flex flex-row  px-24 ">
    
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-4 basis-1/2">
      <a href="./" class=" ">
          <img  src="https://ekstraklasa-frontend-assets.s3.eu-central-1.amazonaws.com/images/logo-ekstraklasa-pko.png" class="object-fill h-16 "  />
        </a>      
    </div>
    <div class="basis-1/2 inline-block text-center my-auto  flex justify-end  ">
    <% if(sessionUser == null){ %>
   
        <div><a>
          <button  type="button" onclick="location.href='./logowanie'" class="text-white
          bg-gradient-to-r from-blue-500 via-blue-600
            to-blue-700 hover:bg-gradient-to-br focus:ring-4
            focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
              shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80
              font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2  ">
              Zaloguj się   </button></a>
        </div>
        <div>
              
          <button  onclick="location.href='./rejestracja'"     type="button" class="text-white
          bg-gradient-to-r from-blue-500 via-blue-600
            to-blue-700 hover:bg-gradient-to-br focus:ring-4
            focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
              shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80
              font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
              Zarejestruj się </button>
              
                  <% }else{ %>
                    <div class=" my-auto ">
                    <button  onclick="location.href='./wyloguj'"     type="button" class="text-white
                    bg-gradient-to-r from-blue-500 via-blue-600
                      to-blue-700 hover:bg-gradient-to-br focus:ring-4
                      focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
                        shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80
                        font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
                        Wyloguj się </button>
                    </div >
                        <% } %>

                    <% if(isAdmin == true){ %>
                      <div class= "my-auto ">
                    <button  onclick="location.href='./adminPanel'"     type="button" class="text-white
                    bg-gradient-to-r from-blue-500 via-blue-600
                      to-blue-700 hover:bg-gradient-to-br focus:ring-4
                      focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
                        shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80
                        font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2  ">
                        Panel admina </button>
                      </div>
                        <% } %>
        </div>
            <!-- if(sessionUser != null){ h1>sesja: sessionUser %>! </h1>   -->
       
     
       
       
      </div>
  
         
          

      </nav>

<section class="main-section mx-24">
  <!-- component -->
  <div class="overflow-x-auto">
    <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-x-auto">
        <div class="w-full lg:w-1/9">
          <% if(name != null){ %><p>
            <h1 class="mb-4 text-4xl font-extrabold 
            leading-none tracking-tight 
             md:text-5xl lg:text-6xl text-sky-900"> Witaj <%= name %>!  </h1>
             <% } %> 
            <div class="bg-white shadow-md rounded  w-full m-0">
            
                <table class="min-w-max w-full table-auto ">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                          <th class="py-3 px-6 text-center">Ranking</th>
                            <th class="py-3 px-6 text-left">Drużyna</th>
                            <th class="py-3 px-6 text-left">Rozegrane mecze</th>
                            <th class="py-3 px-6 text-center">Punkty</th>
                            <th class="py-3 px-6 text-center">Zwycięstwa</th>
                            <th class="py-3 px-6 text-center">Remisy</th>
                            <th class="py-3 px-6 text-center">Porażki</th>
                            <th class="py-3 px-6 text-center">Bramki</th>
                            <% if(sessionUser != null){ %>
                            <th class="py-3 px-6 text-center">Kurs na drużyne w najbliższej kolejce</th>
                            <% } %>

                          </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                      <% for(var druzyna of tabela){%>
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                          <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                          
                             <%= druzyna.ranking  %>
                            
                           
                          </td>
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="mr-2">
                                      <img class="w-8 h-8 " src=" <%- druzyna.ikona -%>"/>

                                    </div>
                                    <span class="font-medium"><%= druzyna.nazwa %></span>
                                </div>
                            </td>
                            <td class="py-3 px-12 text-center">
                                <div class="flex items-center ">
                                  <%= druzyna.rozegraneMecze %>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                  <%= druzyna.punkty %>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center">
                              <%= druzyna.zwyciestwa %>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                  <%= druzyna.remisy %>
                                </div>
                            </td>
                            <td>  
                              <div class="flex item-center justify-center">
                                <%= druzyna.porazki %>
                              </div> 
                            </td>
                            <td>
                              <div class="flex item-center justify-center">
                                <%= druzyna.bramki %>
                              </div> 
                            </td>
                            <% if(sessionUser != null){ %>
                            <td>
                              <div class="flex item-center justify-center">
                                <%= druzyna.kursy %>
                              </div> 
                            </td>
                            <% } %>
                        </td>
                        <% } %>
                      </tbody> 
                
                </table>
            </div>
        </div>
    </div>
  </div>
</section>


<footer class=" bg-sky-900 rounded-lg shadow m-4 ">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-white sm:text-center ">© 2023 Maciej Snochowski, Jacek Nowicki ™</a>
  </span>
  
  </div>
</footer>

</div>     
   
</body>
</html>